* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  display: grid;
  place-content: center;
}

@media (width < 700px) {
    body {
        width: 100%;
height: auto;
    }
}

p,
h1,
h2,
h3 {
  font-family: "Roboto, sans-serif";
}

.container {
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  place-content: center;
  box-shadow: 3px 1px 30px grey;
  border-radius: 2rem 2rem 2rem 2rem;
}

@media (width < 700px) {
    .container {
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 2fr;
        box-shadow: none;
        place-content: center;
        height: 100%;
    }
}

.result {
  display: flex;
  flex-direction: column;
  background-color: #7755ff;
  border-radius: 2rem;
  align-items: center;
  gap: 2rem;
  padding: 3rem 1rem;
  
}

@media (width < 700px) {
    .result {
        height: 100%;
        display: flex;
        width: 100%;
        justify-content: center;
        align-items: center;
        border-radius: 0 0 2rem 2rem;
    }
}

.result__title {
  font-size: 24px;
  color: #cac9ff;
}

.result__digits {
  width: 200px;
  aspect-ratio: 1/1;
  border-radius: 50%;
  background-color: #4d21c9;
  display: grid;
  place-items: center;
}

.result__digits_score {
  color: white;
  font-size: 72px;
  align-self: flex-end;
}

.result__digits_100 {
  color: #cac9ff;
  font-size: 18px;
  align-self: flex-start;
}

.result__feedback_great {
  color: white;
  font-size: 32px;
  padding-top: 1rem;
}

.result__feedback_desc {
  color: #cac9ff;
  line-height: 32px;
  font-size: 18px;
  padding-top: 2rem;
}

.feedback {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 60%;
  text-align: center;
  padding-top: 1rem;
}

.summary {
  display: flex;
  flex-direction: column;
  width: 100%;
  border-top-right-radius: 2rem;
  border-bottom-right-radius: 2rem;
  align-items: center;
  gap: 2.5rem;
  padding: 3rem 1rem;
}

.summary__title {
  margin-top: 30px;
  font-size: 24px;
}

.summary__cell {
  width: 100%;
  border-radius: 1rem;
  display: flex;
  padding: .5rem 2rem;
  align-items: center;
}

@media (width < 700px) {
    .summary__cell {
        margin-inline: auto;
    }
}

.summary__cell p:nth-of-type(1) {
    margin-left: .5rem;
    font-size: 18px;
  }

  .summary__cell p:nth-of-type(2) {
    margin-left: auto;
  }
  
  .summary__cell p:nth-of-type(2) span {
    font-weight: 700;
    color: black;
  }
  
  .summary__cell p:nth-of-type(2):not(span) {
    color: grey;
  }
  
  .clr--bg-red {
    background-color: rgb(241, 189, 189);
  }

  .clr--bg-yellow {
background-color: rgb(247, 247, 199);
  }

.clr--bg-green {
background-color: rgb(205, 255, 205);
}

.clr--bg-blue {
    background-color: rgb(195, 195, 249);
}

.btn {
  background-color: #7755ff;
  color: white;
  min-width: 20rem;
  height: 3.5rem;
  border-radius: 4rem;
  border-style: none;
  margin: 30px auto;
}

@media (width < 700px) {
    .btn {
        background-color: darkblue;
    }
}
